/* Site Design */
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

ul, blockquote, body, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
}

p {
  color: #444;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 29px;
  font-family: 'Palatino Linotype', Palatino, Georgia, serif;
  text-rendering: optimizelegibility;
}

code, pre {
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 14px;
}

p code {
  background-color: #eee;
}

pre {
  font-size: 13px;
  line-height: 18px;
  padding: 7px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

blockquote {
  border-left: 3px solid #09f;
  padding-left: 10px;
  margin: 20px 5px;
}

blockquote p, aside p {
  font-size: 16px;
  line-height: 24px;
}

blockquote p:before {
  content: '\201C';
}

blockquote p:after {
  content: '\201D';
}

aside {
  border-right: 3px solid #09f;
  text-align: right;
  padding-right: 10px;
}

a {
  color: #09f;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #09f;
}

h1, h2, h3 {
  font-family: 'TitilliumText22LBold';
  font-weight:normal;
}

h1 {
  color: #09f;
  font-family: 'TitilliumText22LLight';
  font-size: 32px;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

ul a {
  font-family: 'TitilliumText22LMedium';
}

ul li {
  margin-bottom: 10px;
}

ul li:last-child {
  margin-bottom: 0;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

nav {
  font-family: 'TitilliumText22LLight';
  margin-top: 10px;
  float: right;
  text-transform: uppercase;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

.top-border {
  height: 3px;
  background: #09f;
}

.box {
  padding: 20px;
  background: #fdfdfd;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ddd;
}

.box p:last-child {
  margin-bottom: 0;
}

.home .content {
  margin-top: 200px;
}

.home .box p:last-child {
  margin-bottom: 0;
}

/* Post Page */
.post .content {
  margin-top: 80px;
  margin-bottom: 50px;
}

.post time {
  display: block;
  font-family: 'TitilliumText22LThin', sans-serif;
  color: #777;
  text-align: right;
  font-style: italic;
}

.post time span {
  border-bottom: 1px solid #ddd;
}

/* Posts Page */
.posts .content {
  margin-top: 80px;
}

.posts ul li:last-child {
  margin-bottom: 0;
}

/* About Page */
.about .content {
  margin-top: 80px;
}