<!DOCTYPE HTML>
<html lang="en-us">
<head>
  <title>
    {% if page.title %}{{page.title}} &middot; {% endif %}Can Duruk
  </title>

  <meta charset="utf-8" />
  <meta name="author" content="Can Duruk" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@can">
  <meta name="twitter:creator" content="@can">
  <meta name="twitter:url" content="http://{{ site.host }}{{ page.url }}/">

  {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
    <meta name="twitter:title" content="{{ page.title }}">

    <!-- Sorry, Twitter.  -->
    <meta name="twitter:description" content="{{ page.title }}">

    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}

  {% else %}
    <meta name="description" content="Posts by Can Duruk">
  {% endif %}

  <link rel="stylesheet"
      	media="screen, projection" href="/static/fonts/stylesheet.css"
      	type="text/css">
  <link rel="stylesheet"
        media="screen, projection" href="/static/screen.css" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico">

</head>
<body {% if page.baseclass %}class="{{page.baseclass}}"{% endif %}>
  <div class="top-border"></div>
  <div class="content">
    {{content}}
  </div>
</body>
</html>
