<!DOCTYPE HTML>
<html lang="en-us">
<head>
  <title>
    {% if page.title %}{{page.title}} &middot; {% endif %}Can Duruk
  </title>

  <meta charset="utf-8" />
  <meta name="author" content="Can Duruk" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@can">
  <meta name="twitter:creator" content="@can">
  <meta name="twitter:url" content="http://{{ site.host }}{{ page.url }}/">

  {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
    <meta name="twitter:title" content="{{ page.title }}">

    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta name="twitter:description" content="{{ page.description }}">
    {% endif %}

  {% else %}
    <meta name="description" content="Posts by Can Duruk">
  {% endif %}

  <link rel="stylesheet"
      	media="screen, projection" href="/static/fonts/stylesheet.css"
      	type="text/css">
  <link rel="stylesheet"
        media="screen, projection" href="/static/screen.css" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="alternate" type="application/atom+xml"
        title="Can Duruk" href="http://duruk.net/atom.xml">

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33748610-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var protocol = document.location.protocol;
      var _src = '.google-analytics.com/ga.js';
      var ga = document.createElement('script');
      ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == protocol ? 'https://ssl' : 'http://www') + _src;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body {% if page.baseclass %}class="{{page.baseclass}}"{% endif %}>
  <div class="top-border"></div>
  <div class="content">
    {{content}}
    <nav>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="https://twitter.com/can/">Twitter</a></li>
      </ul>
    </nav>
  </div>
</body>
</html>
